.gasPrices {
    margin-top:30px;
    width: 100%;
    height:auto;
    background-color:lightgreen;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.gasPrices h1 {
        width:80%;
        margin: auto;
        font-size:30px;
    }
.gasPricesContainer{
    width:100%;
    margin-top:70px;
    margin-left:auto;
    margin-right:auto;
    height:1000px;
    
}
body > div.container.body-content > div.gasPricesContainer > div.prices {
    width:100%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}
body > div.container.body-content > div.gasPricesContainer > div.FAQ {
    float: left;
    width: 30%;
    margin-right: 30px;
}
body > div.container.body-content > div.gasPricesContainer > div.prices {
    float: right;
    width: 60%;
}
body > div.container.body-content > div.gasPricesContainer > div.FAQ > .gasParagraph{
    width:100%;
}
body > div.container.body-content > div.gasPricesContainer > div.FAQ > .gasParagraph > h1 {
    background-color: lightgreen;
    font-size: 22px;
    margin-bottom: 30px;
}
body > div.container.body-content > div.gasPricesContainer > div.FAQ > .gasParagraph > img{
    width:100%;
}
.circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 15px;
    color:white;
    text-align: center;
    background: forestgreen
}
body > div.container.body-content > div.gasPricesContainer > div.prices{
    height:auto;
    width:60%;
}
body > div.container.body-content > div.gasPricesContainer > div.prices > div.fuelPrices > div {
    width: 20%;
    margin-right: 20px;
    float: left;
}
    body > div.container.body-content > div.gasPricesContainer > div.prices > div.fuelPrices > div > h1 {
        font-size: 22px;
    }
.fillUp {
    margin-top: 30px;
    width: 100%;
    height: 150px;
    background-color: lightgreen;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
body > div.container.body-content > div.gasPricesContainer > div.prices > div.fuelPrices {
    width: 100%;
    height: 150px;
}
body > div.container.body-content > div.gasPricesContainer > div.prices > div.fillUp > input[type=button] {
    margin-top:65px;
}
body > div.container.body-content > div.gasPricesContainer > div.prices > div:nth-child(4) > h1 {
    background-color: lightgreen;
    font-size: 22px;
    margin-bottom: 30px;
    width:100%;
}
body > div.container.body-content > div.gasPricesContainer > div.prices > div:nth-child(5) > img {
    margin-left: 10px;
    width:100%
    
}
