
@{
    ViewBag.Title = "GasPrices";
}



<div class="gasPrices">
    <h1>
        LATEST PRICES BASED ON ENERGY AND WATER SERVICES REGULATORY COMMISSION OF THE REPUBLIC OF NORTH MACEDONIA
    </h1>
</div>
<div class="gasPricesContainer">

    <div class="FAQ">
        <div class="gasParagraph">
            <h1>
                How are global Fuel Prices Calculated?
            </h1>
        </div>
        <div class="gasParagraph">
            <p>
                The law of supply and demand regulates gasoline prices, as it does nearly all commodities.
                Both supply and demand are changing all the time, as new oil wells are discovered and as economic conditions impact consumer demand.
                As a longer-term general trend, the supply of high-quality oil is fixed and dwindling while global demand is increasing with a rising population and economic growth.
            </p>
            <img src="https://ourworldindata.org/grapher/exports/natural-gas-prices.png?v=4" />
        </div>
        <div class="gasParagraph">
            <h1>How are international conflicts affecting the price of black gold?</h1>
        </div>
        <div class="gasParagraph">
            <p>Topic anwser...</p>
        </div>
        <div class="gasParagraph">
            <p>Envioramental protection and how to help...</p>
            <br />
            <p>Practices for better fuel economy</p>
        </div>
    </div>
    <div class="prices">
        <div class="fuelPrices">
            <div>
                <h1>
                    Biodiesel
                </h1>
            </div>
            <div>
                <h1>
                    Ethanol
                </h1>
            </div>
            <div>
                <h1>
                    Compressed Natural Gas
                </h1>
            </div>
            <div>
                <h1>
                    Methanol
                </h1>
            </div>
        </div>
        <div>
            <input type="button" value="CHECK PLACES WHERE YOU CAN FILL UP" onclick="location.href='@Url.Action("Map","Home")'" />
        </div>
    </div>
</div>
