
@{
    ViewBag.Title = "GasPrices";
}



<div class="gasPrices">
    <h1>
        LATEST PRICESBASED ON ENERGY AND WATER SERVICES REGULATORY COMMISSION OF THE REPUBLIC OF NORTH MACEDONIA
    </h1>
</div>
