@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div>
        <div id="carousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active">

                </li>
                <li data-target="#carousel" data-slide-to="1">

                </li>
                <li data-target="#carousel" data-slide-to="2">

                </li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://wallpaperaccess.com/download/oil-and-gas-2941558" />
                    <div class="container">
                        <div class="carousel-caption">
                            
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="https://wallpaperaccess.com/download/fuel-3977721" />
                    <div class="container">
                        <div class="carousel-caption">
                           
                        </div>
                    </div>

                </div>
                <div class="item">
                    <img src="https://i.ytimg.com/vi/NBesJH2dxxs/maxresdefault.jpg" />
                    <div class="container">
                        <div class="carousel-caption">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#carousel" class="left carousel-control" data-slide="prev">
            <span class="icon-prev">

            </span>
        </a>
        <a href="#carousel" class="right carousel-control" data-slide="next">
            <span class="icon-next">

            </span>
        </a>
    </div>
    

    <script>
        $("#carousel").carousel({
            interval: 2000
        });

        function myFunction1() {
            var x = document.getElementById("myDIV1");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function myFunction2() {
            var x = document.getElementById("myDIV2");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function myFunction3() {
            var x = document.getElementById("myDIV3");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
   


<br />
<br />
    <br />
    <br />

        
    <br />
    <br />
        <div class="row">
            <div class="text-center">
                <div class="row" style="background-color:slategray; display:grid">
                    <h3>
                        Alternative fuels
                    </h3>
                </div>

            </div>
            <br />
            <br />
            <div class="grid_3">
                <img src="https://www.utilities-me.com/public/styles/fb_share_style_image/public/images/2019/10/29/BioDiesel.jpg?itok=UvGcsC1z"
                     style="display:block; max-width: 100%; height: 200px; ">
                <br />
                <br />
                <div class="btn btn-info" onclick="myFunction1()" style="background-color:grey; display:grid">Biodiesel</div>


                <br />
                <p id="myDIV1" style="display:none;">
                    Biodiesel is a form of diesel fuel derived from plants or animals and consisting of long-chain fatty acid esters. It is typically made by chemically reacting lipids such as animal fat (tallow), soybean oil, or some other vegetable oil with an alcohol, producing a methyl, ethyl or propyl ester.

                    Unlike the vegetable and waste oils used to fuel converted diesel engines, biodiesel is a drop-in biofuel, meaning it is compatible with existing diesel engines and distribution infrastructure. Biodiesel can be used alone or blended with petrodiesel in any proportions. Biodiesel blends can also be used as heating oil.
                </p>
            </div>
            <div class="grid_3">
                <img src="https://media.gettyimages.com/photos/farm-machines-harvesting-corn-for-feed-or-ethanol-picture-id604352738?k=6&m=604352738&s=612x612&w=0&h=PPFFqEfW9yxb3D1PkfiBvK7VelkVkz9kUkcvXk4sp7A="
                     style="display: block; max-width: 100%; height: 200px; ">
                <br />
                <br />
                <div class="btn btn-info" style="background-color:grey; display:grid" onclick="myFunction2()">
                    Ethanol
                </div>
                <br />
                <p1 id="myDIV2" style="display:none;">
                    Ethanol fuel is ethyl alcohol, the same type of alcohol found in alcoholic beverages, used as fuel. It is most often used as a motor fuel, mainly as a biofuel additive for gasoline. The first production car running entirely on ethanol was the Fiat 147, introduced in 1978 in Brazil by Fiat. Ethanol is commonly made from biomass such as corn or sugarcane. Ethanol-blended fuel is widely used in Brazil, the United States, and Europe (see also Ethanol fuel by country). Most cars on the road today in the U.S. can run on blends of up to 10% ethanol, and ethanol represented 10% of the U.S. gasoline fuel supply derived from domestic sources in 2011. Some flexible-fuel vehicles are able to use up to 100% ethanol.
                </p1>
            </div>
            <div class="grid_3">
                <img src="https://www.fuelfreedom.org/wp-content/uploads/Pikes-Peak-1000x423.jpg"
                     style="display: block; max-width: 100%; height: 200px; ">
                <br />
                <br />
                <div class="btn btn-info" style="background-color:grey; display:grid" onclick="myFunction3()">
                    Methanol
                </div>
                <br />
                <p1 id="myDIV3" style="display:none;">
                    Methanol (CH3OH), also known as wood alcohol, is considered an alternative fuel under the 1992 Energy Policy Act. As an engine fuel, methanol has ethanol-like chemical and physical properties. The use of methanol in vehicles has declined dramatically since the early 1990s, and car manufacturers no longer produce methanol vehicles in the United States. This fuel is generally produced with natural gas which is reformed into steam to create a synthetic gas. Feeding this synthetic gas into a catalyst reactor produces methanol and water vapor. Different raw materials can produce methanol, but natural gas is currently the most economical.
                </p1>
            </div>
            </div>
            
</div>            
        


<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
    -->
