<!DOCTYPE html>
@{
    ViewBag.Title = "Map";
}


<style>
    #dvMap {
        height: 500px;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    #row1 {
        font-size: 20px;
        width: 75%;
    }

    #mapaNaRM {
        text-align: center;
        font-size: 10px;
    }

    #tekstISlika {
        margin-top: 5%;
    }

    #img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: left;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    h1 {
        margin-top: 65px;
        text-align: center;
        font-size: 50px;
    }
</style>

<div class="row">
    <h1>
        Мапа
    </h1>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    window.onload = function () {
        var mapOptions = {
            //give latitude and long
            center: new google.maps.LatLng("41.6086", "21.7453"),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var infoWindow = new google.maps.InfoWindow();
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
        //give latitude and long
        var myLatlng = new google.maps.LatLng("41.6086", "21.7453");
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: "Macedonia"
        });
    }
</script>

<div id="dvMap"></div>

<div id="mapaNaRM">
    <p>Мапа на бензиски пумпи</p>
</div>

<div class="image" id="tekstISlika">
    <img width="700" height="500"  id="img" src="https://spektartermo.com.mk/wp-content/uploads/2019/01/Front-mp-gev3.jpg" />
    <p id="row1">Во Република Северна Македонија има над 250 бензиски пумпи, од кои најголемиот дел се наоѓаат во главниот град Скопје. Најпознати брендови се: Лукоил, Макпетрол, Окта и многу други.</p>
</div>

