<!DOCTYPE html>
@{
    ViewBag.Title = "Map";
}


<style>
    #map {
        height: 500px;
        width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #row1 {
        font-size: 20px;
    }

    #img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #tekstZaMapa {
        text-align: center;
        font-size: 10px;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<div class="row">
    <div id="map"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 41.6086, lng: 21.7453 },
                zoom: 8
            });
        }
    </script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJau8R5ITL010UEDY76YAyhbGRUixpPz8&callback=initMap">
    </script>
    <p id="tekstZaMapa">Мапа со бензиски пумпи во Република Северна Македонија</p>
</div>

<div class="image" id="img">
    <center>
        <img width="700" height="500" src="https://spektartermo.com.mk/wp-content/uploads/2019/01/Front-mp-gev3.jpg" />
    </center>
</div>

<div class="row" id="row1">
    <p>Во Република Северна Македонија има над 250 бензиски пумпи, од кои најголемиот дел се наоѓаат во главниот град Скопје. Најпознати брендови се: Лукоил, Макпетрол, Окта и многу други.</p>
</div>