<!DOCTYPE html>
@{
    ViewBag.Title = "Map";
}


<style>
    #dvMap {
        height: 500px;
        width: 1000px;
        display: block;
        margin: 0px auto;
    }

    #row1 {
        font-size: 20px;
        float: right;
        width: 55%;
        margin-top: 50px;
    }

    #img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: left;
        width: 40%;
        margin-top: 50px;
    }

    img {
        width: 100%;
    }

    #tekstZaMapa {
        text-align: center;
        font-size: 10px;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    h1 {
        margin-top: 65px;
        text-align: center;
        font-size: 50px;
    }
</style>

<div class="row">
    <h1>
        Мапа
    </h1>
</div>


    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        window.onload = function () {
            var mapOptions = {
                //give latitude and long
                center: new google.maps.LatLng("41.6086", "21.7453"),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            //give latitude and long
            var myLatlng = new google.maps.LatLng("41.6086", "21.7453");
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: "Macedonia"
            });
        }
    </script>

    <div id="dvMap" style="width: 70%;"></div>

        <div class="image" id="img">
            <center>
                <img src="https://spektartermo.com.mk/wp-content/uploads/2019/01/Front-mp-gev3.jpg" />
            </center>
        </div>

        <div class="row" id="row1">
            <p>Во Република Северна Македонија има над 250 бензиски пумпи, од кои најголемиот дел се наоѓаат во главниот град Скопје. Најпознати брендови се: Лукоил, Макпетрол, Окта и многу други.</p>
        </div>
